{% extends "base.html" %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Editar Meu Perfil</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }} <div class="form-group">
            {{ form.nome.label }}
            {{ form.nome(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cpf.label }}
            {{ form.cpf(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.data_nascimento.label }}
            {{ form.data_nascimento(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
    <div class="back-link" style="margin-top: 1rem;">
        <a href="{{ url_for('main.perfil') }}">Cancelar e Voltar ao Perfil</a>
    </div>
</div>
{% endblock %}